#root {
  max-width: 1280px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 2rem;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #1e1e1e;
  font-family: sans-serif;
  color: #a0a0a0;
  line-height: 1.4;
}

.flex {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main-container {
  display: flex;
  justify-content: space-evenly;
  max-width: 1280px;
  min-height: 100vh;
  grid-template-columns: 350px 1fr;
  gap: 50px;
  padding-top: 40px;
  margin: auto;
}
.sidebar {
  height: 90vh;
  background-color: #2a2a2a;
  border-radius: 16px;
  padding: 30px;
  padding-left: 30px;
  padding-right: 30px;
  position: sticky;
  top: 40px;
  /* text-overflow: clip; */

  overflow: hidden;
}
.underline{
  /* text-decoration: underline; */
  /* text-decoration-color: yellow; */
  border-bottom: 3px solid #e0e0e0;
  overflow: hidden;
  width: fit-content;
  /* color: #ffbf00; */
}

.maincontent {
    text-align: center;

  background-color: #2a2a2a;
  border-radius: 16px;
  padding: 40px;
}
.profile {
  text-align: center;
}
.profile img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 1px solid #3a3a3a;
}
.profile h2 {
  /* font-size: 1.5rem; */
  font-weight: 700;
  margin-top: 20px;
  color: #e0e0e0;
}
.profile p {
  background-color: #1e1e1e;
  padding: 5px 15px;
  color: #ffbf00;
  border: 1px solid #3a3a3a;
  font-size: 0.8rem;
  border-radius: 8px;
  display: inline-block;
  margin-top: 10px;
}
.contact a {
  text-decoration: none;
  color: #e0e0e0;
  font-size: 0.8rem;
}

.contact {
  margin-top: 30px;
  border-top: 1px solid #3a3a3a;
  padding-top: 20px;
}
.label {
  font-weight: 500;
  font-size: 0.8rem;
  color: #a0a0a0;
}

/* .value {
  color: #e0e0e0;
} */
/* .email {
  margin-bottom: 15px;
} */
/* .phone {
  margin-bottom: 15px;
} */

/* social */

.social {
  /* margin-top: 30px; */
  border-top: 1px solid #3a3a3a;
  padding-top: 15px;
  display: flex;
  /* flex-direction: column; */
  justify-content: space-evenly;
  align-items: first baseline;
  /* text-align: center; */
  /* content-align: center; */
}
.social img {
  height: 24px;
  width: 24px;
  margin-left: 6px;
  filter: grayscale(1) invert(0.7);
  transition: filter o.3s ease;
}

#navigation {
  border-bottom: 2px solid #3a3a3a;
  margin-bottom: 20px;
  padding-bottom: 20px;
}
nav {
  display: flex;
  justify-content: flex-end;
  gap: 40px;
}

a {
  text-decoration: none;
  color: #a0a0a0;
  font-weight: 500;
  transform: color 0.3s ease;
}

nav a {
  text-decoration: none;
  color: #ffbf00;
  font-weight: 500;
  transform: color 0.3s ease;
}

a:hover {
  text-decoration: underline;
}

.heading {
  color: #e0e0e0;
  font-size: 2rem;
  margin-bottom: 15px;
}
.line {
  width: 40px;
  height: 5px;
  background-color: yellow;
  margin-bottom: 20px;
}
.content {
  text-align: justify;
}
.contact div {
  margin-bottom: 10px;
}

#about {
  margin-bottom: 40px;
}

/* skills */

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  gap: 40px;
}
.item {
  padding: 20px;
  border-radius: 10px;
  border: 2px solid #3a3a3a;
  background-color: #1e1e1e;
  text-align: center;
  margin-top: 20px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.item img {
  height: 48px;
  width: 48px;
  filter: invert(75%) sepia(50%) saturate(1000%) hue-rotate(350%)
    brightness(110%) contrast(101%);
  margin-bottom: 15px;
}
.item p {
  font-size: 1rem;
  font-weight: 500;
  color: #ffbf00;
}
.item p:hover{
  text-decoration: underline;
}

.item:hover {
  transform: scale(1.08);
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.3);
}

#education {
  margin-top: 30px;
}
.edtech {
  position: relative;
}
.year {
  font-size: 0.9rem;
  color: #a0a0a0;
  margin-bottom: 5px;
}
.degree {
  color: #e0e0e0;
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 5px;
}
.college {
  font-style: italic;
  color: #c5c5c5;
  margin-bottom: 10px;
}
.work {
  color: #a0a0a0;
}
.edfirst,
.edsec {
  margin-bottom: 25px;
  position: relative;
  padding-left: 25px;
}

.goal {
  height: 15px;
  width: 15px;
  border-radius: 50px;
  border: 3px solid #ffbf00;
  position: absolute;
  background-color: #3a3a3a;
  top: 0px;
  left: 0px;
  z-index: 5;
}
.liner {
  position: absolute;
  height: 100%;
  width: 2px;
  top: 0px;
  bottom: 0px;
  left: 5px;
  border: 2px solid #6e6e6e;
  /* border-color: #ffbf00; */
}

.project-container {
  margin: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 25px;
}
.project {
  background-color: #1e1e1e;
  border-radius: 12px;
  border: 1px solid #3a3a3a;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.project:hover {
  transform: translateY(-10px);
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.3);
}

.project img {
  height: 180px;
  width: 100%;
  object-fit: cover;
}

.card {
  padding: 20px;
}
.card h3 {
  color: #e0e0e0;
  margin-bottom: 10px;
}
.card p {
  color: #a0a0a0;
  line-height: 1.6;
  margin-bottom: 10px;
}
.card span {
  background-color: rgba(255, 191, 0, 0.1);
  color: #ffbf00;
  padding: 4px 8px;
  border-radius: 5px;
  font-size: 0.75rem;
  margin-right: 5px;
}
